.button {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #f5f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:focused {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #f5f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:hover {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:selected {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:selected:focused {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #f5f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}






.toggle-button {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #f5f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.toggle-button:focused {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #f5f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.toggle-button:hover {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.toggle-button:selected {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.toggle-button:selected:focused {
    -fx-border-color: #a6a6a6;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}