.choice-box {
    -fx-background-insets: 1, 2;
    -fx-background-color: #c4c4c4, white;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
}

/******************/

.dark_theme .choice-box {
    -fx-background-insets: 1, 2;
    -fx-background-color: #a6a6a6, #4c4c4c;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-mark-color: #e0e0e0;
}

.dark_theme .choice-box > .label {
     -fx-text-fill: #FFFFFF;
}