.button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1 0 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0em;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}

.button:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 0 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0em;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}
.button:hover {
    -fx-border-color: transparent;
    -fx-background-color: #b3b3b3;
    -fx-background-insets: 0;
    -fx-border-width: 1 0 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 1em;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}
.button:selected {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 1 0 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0em;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}
.button:selected:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 1 0 1 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0em;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}